* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "wordsans";
    src: url("../fonts/WorkSans.ttf")format("truetype");
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.267);
    font-family: "wordsans";
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 45%;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 150px;
    background-image: url("../images/background-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.user input {
    width: 100%;
    border: none;
    outline: none;
    padding: 13px 0;
    border-bottom: 1px solid lightgray;
    margin-left: 25px;
}

.user input::placeholder {
    font-size: 12px;
    color: gray;
}

.user label {
    color: gray;
    font-size: 14px;
}

form {
    width: 70%;
    /* background-color: red; */
}

.footer {
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    margin-top: 20px;
}

.main-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.remember label {
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

.remember input {
    width: 12px;
    height: 12px;
    cursor: pointer;
    outline: none;
}

.forget a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

.forget a:hover,
.remember label:hover {
    text-decoration: underline;
}

.div-btn {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.div-btn div {
    width: 78%;
}

.div-btn div button {
    width: 125px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgba(32, 145, 32, 0.76);
    color: white;
    cursor: pointer;
}